.header-title {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin: 0px;
  padding: 4px;
  letter-spacing: 1.2px;
}
