<header>
  <a href="{{ .Site.BaseURL }}">
    <h1 class="header-title">
      {{ .Site.Params.Headertitle }}
    </h1>
  </a>
  <!-- <p>Copyright &copy; {{ now.Format "2006"}} {{ .Site.Copyright }}</p> -->
  <nav class="nav-item level is-mobile">
    {{ range.Site.Params.nav }}
      <a class="level-item" href="{{ .url }}">
        <span class="icon">
          <i class="fas {{ .fa_icon }}"></i>
        </span>
      </a>
    {{ end }}
    {{ range.Site.Params.link }}
      <a class="level-item" href="{{ .url }}" target="_blank">
        <span class="icon">
          <i class="fas {{ .fa_icon }}"></i>
        </span>
      </a>
    {{ end }}
  </nav>
  <link rel="icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}" />
</header>
